.main-content {
    margin-bottom: 5rem;
}

.home-page-description {
    text-align: center;
}

.home-page-description a {
    color: $white;
}

@media (max-width: $desktop-breakpoint) {
    .home-page-description {
        transform: scale(0.85);
    }
    .MuiGrid-root {
        color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.card {
    min-height: 35rem;
    max-width: 25rem;
}
