.skill-page-content {
     color: $off-white;
     min-height: 50rem;
     margin-top: $xl-size;
     text-align: center;
}

.web-dev-container {
     margin-bottom: 10rem;
}

.skill-icon-container {
     display: flex;
     gap: $xl-size;
     justify-content: center;
}
.skill-page-content h1 {
     color: $off-white;
     text-align: center;
}

.skill-page-icon {
     color: $off-white;
     font-size: $xl-size;
     padding: $s-size;
}

.skill-page-icon:hover {
     color: $yellow;
     font-size: $xl-size * 1.2;
}